.newArrivalsSection {
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.newArrivalsSwiper {
  overflow-y: visible;
}

.newArrivalsCard {
  width: 285px;
  display: block;
}

.cardImg {
  display: block;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
  height: 320px;
  overflow: hidden;
}
.cardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s;
}
.cardImg:hover img {
  transform: scale(1.05);
  transition: 0.2s;
}