.price-section {
  display: flex;
  justify-content: space-between;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.price > * {
  display: inline-flex;
}

.normal-price {
  color: #ff4242;
  font-size: 24px;
  font-weight: 700;
  margin-right: 12px;
}

.old-price {
  color: #787a80;
  font-size: 18px;
  text-decoration: line-through;
  margin-right: 20px;
}

.discount {
  padding: 10px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #ff4242;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.reviews {
  font-size: 14px;
  color: #787a80;
}

.color-filter {
  color: #424551;
  height: 57px;
  margin-bottom: 24px;
}
.color-filter > span {
  display: inline-block;
  margin-bottom: 12px;
}

.color-selectors {
  display: flex;
  align-items: center;
}
.color-selectors form {
  display: flex;
  gap: 8px;
  margin-right: 10px;
}
.color-selectors span {
  color: #9a9ca5;
}
.color-selectors input {
  display: none;
}
.color-selectors label {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #d7dadd;
  cursor: pointer;
  position: relative;
  background-size: 80%;
  background-position: center;
}
.color-selectors label::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #fff;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  transition: 0.2s;
}
.color-selectors input:checked + label {
  transition: 0.2s;
  border-color: #17696a;
}

.size-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.size-selector form {
  display: flex;
  flex-direction: column;
}
.size-selector form label {
  color: #424551;
  margin-bottom: 10px;
}
.size-selector form select {
  color: #787a80;
  border: 1px solid rgba(154, 156, 165, 0.5254901961);
  border-radius: 5px;
  width: 250px;
  padding: 20px;
}
.size-selector button {
  color: #424551;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-section {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 50px;
}
.quantity-section form {
  display: flex;
  border: 1px solid rgba(154, 156, 165, 0.5254901961);
  padding: 5px;
  border-radius: 5px;
}
.quantity-section form input {
  width: 50px;
}
.quantity-section form div {
  display: flex;
  flex-direction: column;
}